.menu{
    display: flex;
    justify-content: space-between;
}
.menu .logoR{
    width: 80px;
}
.menuBars{
    background-color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
}
.navMenu li{
    padding: 10px 15px;
    border-radius: 5px;
    border-bottom: 1px solid var(--cor02);
    border-top: 1px solid var(--cor02);
    text-align: center;
}
.hide{
    display: none;
}
.secPerfil{
    display: flex; 
    background-color: var(--cor02);
    max-width: 600px;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}
.infoPerfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoPerfil ul{
    width: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2em;
    justify-content: space-between;
}
.infoPerfil i{
    color: var(--cor01);
}
.secLogo{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secLogo img{
    width: 57px;
    height: 44px;
}
.secLogo span{
    font-size: 20px;
    font-weight: bold;
}
.secLogo p{
    color: var(--cor01);
}
.sobre h2{
    border-bottom: 5px solid var(--cor01);
}
.sobre > p{
    margin: 15px 20px 0px 20px;
    max-width: 550px;
}
.buttons{
    padding: 0px 20px;
    width: 100%;
    max-width: 550px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons .button{
    height: 40px;
    width: 145px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--cor01);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: bold;
}
.button img{
    margin-left: 10px;
    height: 20px;
}

@media screen and (min-width: 400px){
    .navheader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto;
    }
    .nav{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .navMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .menuBars{
        display: none;
    }
}